/**
 * @name Comic Sans
 * @author quwyou
 * @authorId 505221369747734542
 * @description changes all text to comic sans
 * @version 1.0.0
 * @source https://github.com/quwyou/Comic-Sans-for-Vencord/blob/main/ComicSans.css
 * @website https://github.com/quwyou/Comic-Sans-for-Vencord
 * @authorLink https://quwyou.com
 */

:root {
  --font: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", sans-serif; 
}

/* Apply font to all elements */
* {
  font-family: var(--font) !important; /* Force the custom font */
}

/* Ensure placeholder text uses the font */
::placeholder {
  font-family: var(--font);
}
